<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录窗口</title>
    <link href="/login.css" rel="stylesheet">
    <link href="/bootstrap.min.css" rel="stylesheet">
    <script>
        window.onload = function (){
            alert("用户或密码错误！")
        }
    </script>
</head>

<body>
<!--登录界面-->
<div>
    <div class="login_min">
        <form action="login" method="post">
            <div class="form-floating mb-3">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">账号：</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">密码：</label>
            </div>
            <button type="submit" class="btn btn-success">登录</button>
        </form>
    </div>
</div>
</body>
</html>